<header>
  <nav class="navbar m-0 has-background-grey-light">
    <div
      class="navbar-brand"
      style="display: flex; flex-wrap: wrap; align-items: center"
    >
      <!-- Icon + Brand -->
      <div class="navbar-item is-expanded is-block has-text-left">
        <p class="title">
          <img src="<%= pml.icon['96'] %>" alt="Logo" />
          <%= pml.judul %>
        </p>
      </div>
      <!-- END Icon + Brand -->
      <!-- Auth Button -->
      <div class="navbar-item is-expanded is-block has-text-right">
        <a href="/auth" class="button p-1 is-primary">
          <i class="material-icons-round"> login </i>
        </a>
      </div>
      <!-- Auth Button -->
    </div>
  </nav>
</header>
