<!-- Tablet and Up -->
<section class="section is-hidden-mobile">
  <div class="container">
    <h1 class="title">
      Hanya tampil pada <strong>resolusi mobile</strong>!
    </h1>
    <p class="subtitle">Kecilkan layar agar tampilan terlihat</p>
  </div>
</section>
<!-- END Tablet and Up -->